<% provide(:title, 'Verify email') %>
<%= form_tag verify_emails_path do %>
	<%= content_tag(:div, 'Warning! Please verify your email first.', class: "alert alert-warning") %>
	
	<p>Your email account is <%= content_tag :b, session[:user_email] %></p>
	<%= hidden_field_tag 'user_email', session[:user_email] %></p>
	<p>You havn't verify your email account. Please click this button to resend a verify email.</p>
 	<p><%= submit_tag 'resend email', class: 'btn btn-info btn-lg' %></p>
<% end -%>